In [2]:
import json
import csv
import urllib.request
import pandas as pd
import numpy as np
import pymysql
from io import BufferedReader
    
# THIS CODE NEEDS TO BE RUN BEFORE MAKING THE SQL CONNECTION

pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Below code retrieve all the data from the view created in the mySQL, based on which we write our growth and value investment logic.

- After retrieving, we are selecting required features in a separate dataframe.
- As entire data has been loaded as text format[through to_sql() method of python)], we are converting dates and other data in required format. Plus cleaning of the data.
- variables **curr_year** and **ref_year** defines the timeframe of the portfolio.

In [4]:
# loding data for Value and Growth investment

from datetime import datetime
from datetime import date
import datetime


from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
query = "SELECT * from vw_select_stock"

dfselect_stock =pd.read_sql(query,engine)

curr_year = date.today().year -5 
#curr_year
ref_year = date.today().year - 9
#ref_year
start_date = datetime.date(ref_year,12,31)
end_date = datetime.date(curr_year,12,31)

#dfselect_stock['DATE_YEAR'].dtype
dfselect_stock['DATE_YEAR'] = pd.to_datetime(dfselect_stock['DATE_YEAR'], format='%Y-%m-%d')
#dfselect_stock = dfselect.copy()
dtFilter = (dfselect_stock['DATE_YEAR'] > start_date) & (dfselect_stock['DATE_YEAR'] <= end_date)
dfselect_stock = dfselect_stock.loc[dtFilter]


# Collecting required parameters for value & Growth portfolio

dfselect_stock.replace('',np.nan, inplace=True)
dfselect_stock.fillna(0, inplace=True)
rest_indx = dfselect_stock.reset_index()
floatlist = ['BETA', 'EPS', 'PE_RATIO','PB_RATIO', 'DEBT_TO_EQUITY', 'CURRENT_RATIO','PRICE_TO_SALES_RATIO','DIVIDEND_YIELD','5Y_Dividend_per_Share_Growth_PER_SHARE',
            '3Y_Dividend_per_Share_Growth_PER_SHARE','DEBT_TO_ASSETS','EPS_DILUTED_GROWTH','MARKET_CAP','TANGIBLE_ASSET_VALUE', 'ROE', 'BOOK_VALUE_PER_SHARE', 'ROIC',
             'BOOK_VALUE_PER_SHARE_GROWTH','MARKET_CAP','OUTSTANDING_SHARES']

for eachcol in floatlist:
    dfselect_stock[eachcol] = dfselect_stock[eachcol].astype('float64')
    
dfselect_stock['MARKET_CAP'] = dfselect_stock['MARKET_CAP'].astype('int64')
dfselect_stock['OUTSTANDING_SHARES'] = dfselect_stock['OUTSTANDING_SHARES'].astype('int64')
#dfselect_stock['TANGIBLE_ASSET_VALUE'] = dfselect_stock['TANGIBLE_ASSET_VALUE'].astype('long')

dfmean = dfselect_stock.groupby(['STOCK_TIKR','SECTOR','DATE_YEAR']).mean().reset_index()

C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [5]:
print("Required Financial Ratios of all the companies yearwise (showing top 5) :")

dfmean.head()
print('Total number of rows:',dfmean.shape[0])
#dfselect.head()

Required Financial Ratios of all the companies yearwise (showing top 5) :

,STOCK_TIKR,SECTOR,DATE_YEAR,BETA,EPS,PE_RATIO,PB_RATIO,DEBT_TO_EQUITY,DEBT_TO_ASSETS,CURRENT_RATIO,...,BOOK_VALUE_PER_SHARE_GROWTH,5Y_Dividend_per_Share_Growth_PER_SHARE,3Y_Dividend_per_Share_Growth_PER_SHARE,EPS_DILUTED_GROWTH,MARKET_CAP,ROE,BOOK_VALUE_PER_SHARE,ROIC,OUTSTANDING_SHARES,TANGIBLE_ASSET_VALUE
0,A,Healthcare,2011-10-31,1.371835,2.92,9.0810,2.1358,0.5072,0.2412,3.032,...,0.3345,0.0,0.0,0.4691,9206908940,0.2349,12.415,0.1700,4308000000,7.061000e+09
1,A,Healthcare,2012-10-31,1.371835,3.31,7.7776,1.7288,0.4558,0.2242,2.445,...,0.1994,0.0,0.0,0.1474,8970285351,0.2225,14.891,0.1070,5182000000,6.425000e+09
2,A,Healthcare,2013-10-31,1.371835,2.15,16.8879,2.2805,0.5106,0.2526,3.110,...,0.0410,0.0,0.0,-0.3486,12010726038,0.1389,15.501,0.0377,5286000000,6.723000e+09
3,A,Healthcare,2014-10-31,1.371835,1.65,23.9650,2.4840,0.3137,0.1538,3.256,...,0.0270,0.0,0.0,-0.2394,13187827388,0.1036,15.919,0.0379,5301000000,7.659000e+09
4,AAC,Healthcare,2013-12-31,2.428700,0.13,0.2500,0.0059,5.2640,0.5276,1.043,...,0.0000,0.0,0.0,0.0000,206733,0.0961,0.591,0.1392,8183000,6.727900e+07

Total number of rows: 4900

We have already calculated company valuation for each of the company. Loading the same data in below code.

In [6]:
engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryfcf = "SELECT * from fcfvalue"

df_fcf = pd.read_sql(queryfcf,engine)
#df_fcf.head()
 

# df_fv1 = pd.read_csv('share_between_80and99.csv')
df_fcf.rename(columns = {'STK_TKR':'STOCK_TIKR'}, inplace = True)
del df_fcf['index']
del df_fcf['Closing_price']
df_fcf.rename(columns = {'Share_price':'FAIR_VALUE'}, inplace = True)
df_fcf['FAIR_VALUE'] = df_fcf['FAIR_VALUE'].astype('float64')
df_fcf['FAIR_VALUE'] = df_fcf['FAIR_VALUE'].round()

df_fcf.head()

   Calc_year STOCK_TIKR  FAIR_VALUE
0       2019      CMCSA        52.0
1       2019       INTC        47.0
2       2019         MU        59.0
3       2019       AAPL       117.0
4       2019       MSFT        17.0

Below code is to select the stocks which can consider as the value stocks, we are assigning each stock's valuation as fair price from above fcf dataframe.

In [7]:
# Value investment logic
# ADD CONSTRAIN OF MARKET CAPITALIZATION
# save each strategic parameter in a different dataframe, so we can combine all parameters as
# required (can add or remove as required based on further reasearch) to construct the portfolio

dfcurr = dfmean[dfmean.CURRENT_RATIO >= 2]
dfpe = dfmean[dfmean.PE_RATIO <= 10]
dfpb = dfmean[dfmean.PB_RATIO <= 1.3]
dfpeb = dfmean[dfmean.PB_RATIO*dfmean.PE_RATIO < 23]
dfdy = dfmean[dfmean.DIVIDEND_YIELD >= 1.0]
dfepsg = dfmean[dfmean.EPS_DILUTED_GROWTH > 0]
dfpsr = dfmean[dfmean.PRICE_TO_SALES_RATIO <= 1.0]
dfmkt = dfmean[dfmean.MARKET_CAP > 100000000]

dfValue1 = pd.concat([dfcurr,dfpe,dfpb,dfpeb,dfdy,dfepsg,dfpsr,dfmkt])

#dfValue.head()

dfValue = pd.merge(dfValue1,df_fcf, on = 'STOCK_TIKR')

#dfValue.head()

# combining all strategic parameters to create a single strategy for value investment 

def final_val(dfValue):
    return dfValue[
        ((dfValue.PE_RATIO <= 10)&
        (dfValue.PB_RATIO <= 1.3))&#|(dfValue.PB_RATIO*dfValue.PE_RATIO < 23))&
        #(dfValue.DIVIDEND_YIELD >= 1.0)&
        #(dfValue['3Y_Dividend_per_Share_Growth_PER_SHARE'] > 0)& 
        (dfValue.CURRENT_RATIO >= 2)&
        (dfValue.MARKET_CAP > 100000000)&
        (dfValue.PRICE_TO_SALES_RATIO <= 1.0)
        ]

# List of value stocks

dfValFinal = final_val(dfValue)
dfValFinal = dfValFinal[['STOCK_TIKR','SECTOR','BETA','FAIR_VALUE','Calc_year']].copy()
dfValFinal = dfValFinal.drop_duplicates(subset=['STOCK_TIKR'],keep="first")
dfValFinal['ADDED_ON'] = date.today()
print('Below is the list of potential value stocks:')
dfValFinal.head()

Below is the list of potential value stocks:

,STOCK_TIKR,SECTOR,BETA,FAIR_VALUE,Calc_year,ADDED_ON
54,ACCO,Industrials,1.818291,19.0,2019,2019-12-18
118,ADM,Consumer Defensive,0.955928,45.0,2019,2019-12-18
238,AIR,Industrials,1.009082,28.0,2019,2019-12-18
302,ALG,Industrials,0.850361,39.0,2019,2019-12-18
465,AP,Industrials,2.154915,13.0,2019,2019-12-18

In [8]:
#dfValue.shape
print('There are',dfValFinal.shape[0],'stocks which are potential value stocks')
dfValFinal.to_csv('myvaluestocksr.csv')

There are 46 stocks which are potential value stocks

Once we selected the potential value stocks, next step to select potential growth stocks.
- EPS growth is considered one of the major parameter to select a growth stock.
- In below code we are checking the EPS growth of all the stocks for required timeframe.

In [9]:
# Logic to check whether stock EPS is growing since N years (for selecting Growth Stocks)

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryepsG = "SELECT STOCK_TIKR,DATE_YEAR,EPS from income_statement"

dfepsPer =pd.read_sql(queryepsG,engine)
#dfepsPer
curr_year = date.today().year 
ref_year = date.today().year - 5 
start_date = datetime.date(ref_year,12,31)
end_date = datetime.date(curr_year,12,31)

# EPS GROWTH YEARBY FOR GRWOTH STOCK 
dfepsPer['DATE_YEAR'] = pd.to_datetime(dfepsPer['DATE_YEAR'])
dtFilter = (dfepsPer['DATE_YEAR'] > start_date) & (dfepsPer['DATE_YEAR'] <= end_date)
#dtFilter
dfepsPer = dfepsPer.loc[dtFilter]
#dfepsPer.head(10)
dfepsPer['EPS_PREV'] = dfepsPer['EPS'].shift(1)
dfepsPer['POSITIVE'] = dfepsPer['EPS'] > dfepsPer['EPS_PREV']
dfepsPer['POSITIVE'] = dfepsPer['POSITIVE'].astype('category')
#dfepsPer = dfepsPer[dfepsPer['POSITIVE'] == 'True'].groupby(['STOCK_TIKR']).size().reset_index(name='+veGrowthCount')
dfEPS_GR= dfepsPer.groupby(['STOCK_TIKR', 'POSITIVE']).size().unstack(fill_value=0)
#dfepsPer['+VeGrowth'] = np.where(dfepsPer.POSITIVE['True'] > dfepsPer.POSITIVE['False'],'Yes','No')
#dfEPS_GR.head()
dfEPS_GR.columns
dfEPS_GR.to_csv('PositiveEPS.csv')
dfEPS_GR = pd.read_csv('PositiveEPS.csv')
dfEPS_GR.columns = ['STOCK_TIKR','NGrowth','PGrowth']
dfEPS_GR['GrowthEPS'] = np.where(dfEPS_GR['PGrowth'] >= dfEPS_GR['NGrowth'],'Yes','No')
print('Below is the bifurcation of the stocks based on Growth EPS, flagged as Yes or No')
dfEPS_GR.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  from ipykernel import kernelapp as app

CategoricalIndex([False, True], categories=[False, True], ordered=False, name='POSITIVE', dtype='category')

Below is the bifurcation of the stocks based on Growth EPS, flagged as Yes or No

  STOCK_TIKR  NGrowth  PGrowth GrowthEPS
0          A        2        2       Yes
1         AA        3        1        No
2       AABA        3        1        No
3        AAC        2        2       Yes
4        AAL        1        3       Yes

Below is the logic wriiten for selecting potential growth stocks for the required timeframe.

In [10]:
# growth investment logic (similar to value investment)

from datetime import datetime
from datetime import date
import datetime
import os
from pandas import ExcelWriter


dfcurrG = dfmean[dfmean.CURRENT_RATIO >= 1.5]
dfdeG = dfmean[dfmean.DEBT_TO_EQUITY <= 0.4]
dfdaG = dfmean[dfmean.DEBT_TO_ASSETS <= 1.1]
dfroeG = dfmean[dfmean.ROE > 0.15]
dfroicG = dfmean[dfmean.ROIC > 0.06]
dfmktG = dfmean[dfmean.MARKET_CAP > 100000000]
#dfepsGr = dfmean[dfmean.EPS_DILUTED_GROWTH > 0]

#dfselect_stock.columns

dfselect_stock.replace('',np.nan, inplace=True)
dfselect_stock.fillna(0, inplace=True)
rest_indx = dfselect_stock.reset_index()

dfGrowth1 = pd.concat([dfcurrG,dfdeG,dfdaG,dfroeG,dfroicG,dfmktG])#dfepsGr)
dfGrowth2 = pd.merge(dfGrowth1,dfEPS_GR, on='STOCK_TIKR')

dfGrowth = pd.merge(dfGrowth2,df_fcf, on = 'STOCK_TIKR')
# Select growth stock on basis of FCF
# dfGrowth ['UNDERVALUED'] = np.where(dfGrowth.CLOSE_PRICE <= dfGrowth.TANGIBLE_ASSET_VALUE ,'Yes','No')
#dfGrowth.head()

def final_gr(dfGrowth):
    return dfGrowth[
        (dfGrowth.DEBT_TO_EQUITY <= 0.4)&
        (dfGrowth.DEBT_TO_ASSETS <= 1.1)&
        (dfGrowth.ROE >= 0.15)&
        (dfGrowth.ROIC > 0.06)&
        (dfGrowth.CURRENT_RATIO >= 1.5)&
        (dfGrowth.GrowthEPS == 'Yes')&
        (dfGrowth.MARKET_CAP > 10000000000)
    ]
        
dfGrFinal = final_gr(dfGrowth)
dfGrFinal = dfGrFinal[['STOCK_TIKR','SECTOR','BETA','GrowthEPS','Calc_year','FAIR_VALUE']].copy()
dfGrFinal = dfGrFinal.drop_duplicates(subset=['STOCK_TIKR','SECTOR'],keep="first")
dfGrFinal['ADDED_ON'] = date.today()
dfGrFinal.to_csv('Growth.csv')
print('Below is the list of potential growth stocks:')
dfGrFinal.head()

Below is the list of potential growth stocks:

,STOCK_TIKR,SECTOR,BETA,GrowthEPS,Calc_year,FAIR_VALUE,ADDED_ON
33,AAPL,Technology,1.139593,Yes,2019,117.0,2019-12-18
206,ADI,Technology,1.249755,Yes,2019,72.0,2019-12-18
561,ALXN,Healthcare,1.558541,Yes,2019,26.0,2019-12-18
1587,BIIB,Healthcare,0.987783,Yes,2019,160.0,2019-12-18
1634,BKNG,Consumer Cyclical,1.038400,Yes,2019,842.0,2019-12-18

In [23]:
#dfGrowth.shape
print('There are',dfGrFinal.shape[0],'stocks which are potential growth stocks.')
dfGrFinal.to_csv('mygrowth.csv')

There are 43 stocks which are potential growth stocks.

Once potential growth and value stocks have selected, we will check how many stocks are undervalued, so we can mark them with Buy flag. For that:
- We will download the latest closing price of each potential value and growth stock.
- Compare with our Fair value to select the undervalued stocks.

In [12]:
# separating stock (value+Growth) symbol list (to check for the latest close price of porfolio stocks)

dflookup = pd.DataFrame()
dflookup['symbol'] = dfValFinal['STOCK_TIKR'].values  
#dflookup.head()

dflookupG = pd.DataFrame()
dflookupG['symbol'] = dfGrFinal['STOCK_TIKR'].values
dflookupG.head()

dflookup_price =[dflookup,dflookupG]
dflookup_price = pd.concat(dflookup_price)
dflookup_price.head()

  symbol
0   AAPL
1    ADI
2   ALXN
3   BIIB
4   BKNG

  symbol
0   ACCO
1    ADM
2    AIR
3    ALG
4     AP

In [13]:
# crosscheck whether we are getting correct count in lookup as original portfolio list

dfValue.shape
dfValFinal.shape
dflookup.shape

dfGrowth.shape
dfGrFinal.shape
dflookupG.shape
dflookup_price.shape

(13601, 24)

(46, 6)

(46, 1)

(18290, 27)

(43, 7)

(43, 1)

(89, 1)

In [14]:
# Code to load latest closing price for the potential stocks

import urllib.request, json
import pandas as pd
from pandas.io.json import json_normalize

dfdataprice = pd.DataFrame()
#dfdataprice.columns = ['STOCK_TIKR','CLOSE_PRICE']      

rowcount = 0
companies = dflookup_price['symbol']
nodatalist =[]
url = 'https://financialmodelingprep.com/api/v3/stock/real-time-price/code'
cnt =0
for x in companies:
    #print(x)
    newurl = url.replace('code',x)
    #today = date.today().strftime("%Y-%m-%d")
    #print(today)
    
    #print("newur2", newurl2)
    mydata=[]
    with urllib.request.urlopen(newurl) as url_pri:
        #print("url_pri",url_pri)
        data1 = json.loads(url_pri.read().decode())
        data = pd.DataFrame([data1])
        #print(data)
        if (data.empty != True):
            mydata = data.copy()
            #print(mydata)
            if (dfdataprice.shape[0] ==0):
                dfdataprice['symbol'] = ""
            rowcount = dfdataprice.shape[0]
            #print(rowcount)
            dfdataprice = dfdataprice.append(mydata,ignore_index=True)
            currrow = rowcount+len(mydata)
            #print(currrow)
            dfdataprice.iloc[rowcount:currrow,dfdataprice.columns.get_loc('symbol')]=x
            #print(dfdataprice)
        else:
            nodatalist.append(x)

print('Below is the latest closing price for all the potential value and growth stocks.(showing first 5 results)')
dfdataprice.columns = ['CLOSE_PRICE','STOCK_TIKR']      
#print('Companies that do not have data',nodatalist)
#dfdataprice = dfdataprice.loc[:, dfdataprice.columns != 'index']
dfdataprice.head()
#saveToSQL('historical_price',dfdataprice,'replace')

C:\Users\Sudip\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

Below is the latest closing price for all the potential value and growth stocks.(showing first 5 results)

   CLOSE_PRICE STOCK_TIKR
0        9.585       ACCO
1       46.235        ADM
2       45.415        AIR
3      117.990        ALG
4        2.990         AP

In [15]:
dfdataprice.head()

   CLOSE_PRICE STOCK_TIKR
0        9.585       ACCO
1       46.235        ADM
2       45.415        AIR
3      117.990        ALG
4        2.990         AP

In [16]:
def saveToSQL(tablename,dataframe,todo):
    from sqlalchemy import create_engine
    engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
    dataframe.to_sql(tablename, con = engine, if_exists=todo, chunksize = 500)
    print('Data has been loaded to',tablename,'table')

In [54]:
# Seecting stocks to buy which are undervalued and finalizing value stocks portfolio

dfValPort = pd.merge(dfValFinal,dfdataprice,on='STOCK_TIKR', how='left')
dfValPort['BUY_NOW'] = np.where(dfValPort['FAIR_VALUE']+ dfValPort['FAIR_VALUE']*(10/100) > dfValPort['CLOSE_PRICE'], 'Yes', 'No')
dfValPort['SELL'] = 'No'
dfValPort = dfValPort.loc[:, dfValPort.columns != 'SELL']
print('Below is the list of undervalued Value stocks marked with the Buy flag as Yes or No:')
dfValPort.head()

saveToSQL('value_portfolio',dfValPort,'append')

Below is the list of undervalued Value stocks marked with the Buy flag as Yes or No:

,STOCK_TIKR,SECTOR,BETA,FAIR_VALUE,Calc_year,ADDED_ON,CLOSE_PRICE,BUY_NOW
0,ACCO,Industrials,1.818291,19.0,2019,2019-12-18,9.585,Yes
1,ADM,Consumer Defensive,0.955928,45.0,2019,2019-12-18,46.235,Yes
2,AIR,Industrials,1.009082,28.0,2019,2019-12-18,45.415,No
3,ALG,Industrials,0.850361,39.0,2019,2019-12-18,117.990,No
4,AP,Industrials,2.154915,13.0,2019,2019-12-18,2.990,Yes

Data has been loaded to value_portfolio table

In [55]:
# Finalizing Growth-stocks portfolio

dfGrPort = pd.merge(dfGrFinal,dfdataprice[['STOCK_TIKR','CLOSE_PRICE']],on='STOCK_TIKR', how='left')
dfGrPort['BUY_NOW'] = np.where(dfGrPort['FAIR_VALUE'] + dfGrPort['FAIR_VALUE']*(10/100) > dfGrPort['CLOSE_PRICE'], 'Yes', 'No')
print('Below is the list of undervalued Growth stocks marked with the Buy flag as Yes or No:')
dfGrPort.tail()

saveToSQL('growth_portfolio',dfGrPort,'append')

Below is the list of undervalued Growth stocks marked with the Buy flag as Yes or No:

,STOCK_TIKR,SECTOR,BETA,GrowthEPS,Calc_year,FAIR_VALUE,ADDED_ON,CLOSE_PRICE,BUY_NOW
38,TEL,Technology,1.047484,Yes,2019,71.0,2019-12-18,95.450,No
39,TRIP,Consumer Cyclical,1.299399,Yes,2019,12.0,2019-12-18,29.195,No
40,UAA,Consumer Cyclical,0.419624,Yes,2019,3.0,2019-12-18,20.575,No
41,VLO,Energy,1.184196,Yes,2019,123.0,2019-12-18,95.670,Yes
42,WBA,Healthcare,0.807362,Yes,2019,74.0,2019-12-18,57.135,Yes

Data has been loaded to growth_portfolio table

In [56]:
# Check the count of undervalued stocks
print('Below is total undervalued Value stocks out of potential stocks:')
dfValPort['BUY_NOW'].value_counts()
print('\n')
print('Below is total undervalued Growth stocks out of potential stocks:')
dfGrPort['BUY_NOW'].value_counts()

Below is total undervalued Value stocks out of potential stocks:

Yes    31
No     15
Name: BUY_NOW, dtype: int64

Below is total undervalued Growth stocks out of potential stocks:

No     27
Yes    16
Name: BUY_NOW, dtype: int64

Below is the logic for rebalancing the portfolio:
- We will update annual results each year (by analyzing data of previous five years from current annual year).
- We will check if we find new stocks and add or append it to portfolio.
- Both above steps will get executed with previous code

- After 3 years we will check whether existing stocks are getting added for consistent three years.
- If No, we will remove them from the portfolio buy marking them with the Sell flag.

*Currently, SELL value is comins as Yes for all the stocks, as we are running code/appending stocks for testing purpose, in existing/current year(2019), once below code runs only once every 3 year, it will show correct results*

In [57]:
# Rebalance the value portfolio - To run once a 3 years

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryval = "SELECT * from VALUE_PORTFOLIO"

dfportval =pd.read_sql(queryval,engine)
mycountval = dfportval.groupby('STOCK_TIKR')['STOCK_TIKR'].count()
dfcountval = pd.DataFrame(mycountval)
dfcountval.rename(columns={'STOCK_TIKR':'COUNT'}, inplace=True)
dfcountval['STOCK_TIKR'] = dfcountval.index
dfReb = pd.merge(dfportval,dfcountval, on = 'STOCK_TIKR')
dfRebVal = dfReb[['STOCK_TIKR','SECTOR','BETA','FAIR_VALUE','ADDED_ON','CLOSE_PRICE','COUNT']]
#dfRebVal = dfReb.loc[:, dfReb.columns != 'BUY_NOW']
dfRebVal ['SELL'] = np.where( dfRebVal['COUNT'] < 3,'Yes','No')
dfRebVal.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'STOCK_TIKR' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,STOCK_TIKR,SECTOR,BETA,FAIR_VALUE,ADDED_ON,CLOSE_PRICE,COUNT,SELL
0,ACCO,Industrials,1.818291,19.0,2019-12-18,9.585,2,Yes
1,ACCO,Industrials,1.818291,19.0,2019-12-18,9.585,2,Yes
2,ADM,Consumer Defensive,0.955928,45.0,2019-12-18,46.235,2,Yes
3,ADM,Consumer Defensive,0.955928,45.0,2019-12-18,46.235,2,Yes
4,AIR,Industrials,1.009082,28.0,2019-12-18,45.415,2,Yes

In [58]:
# Rebalance the Growth portfolio - To run once a 3 years

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryGr = "SELECT * from GROWTH_PORTFOLIO"

dfportGr =pd.read_sql(queryGr,engine)
mycountGr = dfportGr.groupby('STOCK_TIKR')['STOCK_TIKR'].count()
dfcountGr = pd.DataFrame(mycountGr)
dfcountGr.rename(columns={'STOCK_TIKR':'COUNT'}, inplace=True)
dfcountGr['STOCK_TIKR'] = dfcountGr.index
dfRebG = pd.merge(dfportGr,dfcountGr, on = 'STOCK_TIKR')
dfRebGr = dfRebG[['STOCK_TIKR','SECTOR','BETA','ADDED_ON','CLOSE_PRICE','COUNT']]
#dfRebGr = dfReb.loc[:, dfReb.columns != 'BUY_NOW']
dfRebGr ['SELL'] = np.where( dfRebGr['COUNT'] < 3,'Yes','No')
dfRebGr.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'STOCK_TIKR' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  STOCK_TIKR      SECTOR      BETA    ADDED_ON  CLOSE_PRICE  COUNT SELL
0       AAPL  Technology  1.139593  2019-12-18       280.45      2  Yes
1       AAPL  Technology  1.139593  2019-12-18       280.45      2  Yes
2        ADI  Technology  1.249755  2019-12-18       118.88      2  Yes
3        ADI  Technology  1.249755  2019-12-18       118.88      2  Yes
4       ALXN  Healthcare  1.558541  2019-12-18       109.72      2  Yes

In [22]:
print('File Imported Successfully')

File Imported Successfully